.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.featureSvg:hover{
  animation: bounce-down 2s linear infinite;

}

@keyframes bounce-down {
   25% {
        transform: translateY(-6px);
   }
   50%, 100% {
        transform: translateY(0);
   }
   75% {
        transform: translateY(6px);
   }
}